@import url('https://fonts.googleapis.com/css?family=Nixie+One|Nothing+You+Could+Do');

div button {
  margin-top: 20px;
  border: none;
  background-color: white;
  color: black;
  font-size: 1.4em;
  font-family: 'Nixie One', sans-serif;
}

div button:hover {
  font-family: 'Nothing You Could Do', cursive;
}

.projDetails a img {
  border: white solid 4px;
  height: 300px;
  width: auto;
  margin-top: 20px;
}

.projDetails a img:hover {
  border: black solid 4px;
  height: 300px;
  width: auto;
  margin-top: 20px;
}

.projLanguages {
  font-size: 1.1em;
  font-family: 'Nixie One', sans-serif;
}

.projName {
  color: black;
  font-family: 'Nixie One', sans-serif;
  font-size: 2.0em;
  margin-top: 20px;
}

.section {
  font-family: 'Nothing You Could Do', cursive;
  color: black;
  font-size: 1.5em;
}

@media only screen and (max-width: 700px) {
  .projDetails a img {
    border: white solid 4px;
    height: auto;
    width: 75%;
    margin-top: 20px;
  }
  
  .projDetails a img:hover {
    border: black solid 4px;
    height: auto;
    width: 75%;
    margin-top: 20px;
  }
}